p {
    color: #efefef;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px;
}

select {
    margin-top: 12px;
    width: 100%;
}

#container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    height: 100vh;
    /* 使容器高度占满整个视口 */
}

/*t提示框*/
#tip {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 40px;
    background: rgba(30, 30, 30, 0.6);
    width: 200px;
    min-height: 300px;
    z-index: 3;
}

#srcColor {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-color: #ff3366;
}

#dstColor {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-color: #3366ff;
}